@model IEnumerable<StoreMVC.Models.ProductIndexVM>

@{
    ViewData["Title"] = "Create Product";
}

<h1>Product Database</h1>

<p>
    @* asp-action is an example of a tag helper, looks like an attribute of your html element *@
    <a asp-action="Create">Add a product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.ProductDesc)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.ProductDesc)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @* Helpers are also used to tie your views to particular actions in controllers *@
                    @* This is an html helper *@
                    @Html.ActionLink("Edit", "Edit", new { name = item.ProductName }) |
                    @Html.ActionLink("Details", "Details", new { name=item.ProductName }) |
                    @* @Html.ActionLink("Delete", "Delete", new { name=item.ProductName}) *@
                </td>
            </tr>
        }
    </tbody>
</table>
