@model IEnumerable<StoreMVC.Models.CustomerIndexVM>

@{
    ViewData["Title"] = "Create Customer";
}

<h1>Customer Database</h1>

<p>
    @* asp-action is an example of a tag helper, looks like an attribute of your html element *@
    <a asp-action="Create">Add a customer</a>
</p>
@* <p>  
    @Html.ActionLink("Create New", "Create")  
</p>   *@
   
@using (Html.BeginForm())  
{  
    <p>  
        Search Name: @Html.TextBox("Search_Data", ViewBag.FilterValue as string)  
        <input type="submit" value="Find" />  
    </p>  
}  
<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.CustomerName)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.CustomerAddress)
                </th> *@
            <th>
                @Html.ActionLink("Customer Name", "Index", new { Sorting_Order = ViewBag.SortingName })
            </th>
            @* <th>
                Customer Name
            </th> *@
            <th>
                @Html.ActionLink("Customer Address", "Index", new { Sorting_Order = ViewBag.SortingAddress })
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerAddress)
                </td>
                <td>
                    @* Helpers are also used to tie your views to particular actions in controllers *@
                    @* This is an html helper *@
                    @Html.ActionLink("Edit", "Edit", new { name = item.CustomerName }) |
                    @Html.ActionLink("Details", "Details", new { name=item.CustomerName }) |
                    @* @Html.ActionLink("Delete", "Delete", new { name=item.CustomerName}) *@
                </td>
            </tr>
        }
    </tbody>
</table>
